In [17]:
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.feature_selection import RFE
from sklearn import linear_model
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind
from scipy.stats import f_oneway
from scipy.stats import norm
from statistics import math
from scipy.stats import t

In [18]:
salaries = pd.read_csv(r'C:\Users\btdjf\Desktop\Ironhack 2\Lab Hypothesis Testing Optional 1\lab-hypothesis-testing-1\your-code\Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [19]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [20]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

In [21]:
salaries['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

In [22]:
salaries.groupby('Department')['Name'].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

In [23]:
hourly_wage_mean = 30
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()
t_stat, p_value = ttest_1samp(hourly_workers, hourly_wage_mean)
print("Hourly Workers Wage Hypothesis Test:")
print(f"t-statistic: {t_stat}, p-value: {p_value}")

Hourly Workers Wage Hypothesis Test:
t-statistic: 20.6198057854942, p-value: 4.3230240486229894e-92

In [24]:
police_salaries_mean = 86000
police_salaries = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary'].dropna()
t_stat_police, p_value_police = ttest_1samp(police_salaries, police_salaries_mean)
print("\nPolice Force Salaries Hypothesis Test:")
print(f"t-statistic: {t_stat_police}, p-value: {p_value_police}")

Police Force Salaries Hypothesis Test:
t-statistic: 3.081997005712994, p-value: 0.0020603403550965137

In [25]:
department_hourly_workers = pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(by='Hourly', ascending=False)
print("\nDepartment with the Most Hourly Workers:")
print(department_hourly_workers.head(1))

Department with the Most Hourly Workers:
Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

In [26]:
hourly_wage_test_department = salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Department'] == 'DEPARTMENT_NAME')]['Hourly Rate'].dropna()
t_stat_hourly_wage, p_value_hourly_wage = ttest_1samp(hourly_wage_test_department, 35)
print("\nHourly Wage Hypothesis Test in the Department with Most Hourly Workers:")
print(f"t-statistic: {t_stat_hourly_wage}, p-value: {p_value_hourly_wage}")

Hourly Wage Hypothesis Test in the Department with Most Hourly Workers:
t-statistic: nan, p-value: nan

In [27]:
confidence_level = 0.95
degrees_of_freedom = len(hourly_workers) - 1
mean_hourly_wage = hourly_workers.mean()
standard_error_hourly_wage = hourly_workers.sem()

confidence_interval_hourly_wage = t.interval(confidence_level, degrees_of_freedom, mean_hourly_wage, standard_error_hourly_wage)
print("\n95% Confidence Interval for Mean Hourly Wage of Hourly Workers:")
print(confidence_interval_hourly_wage)

95% Confidence Interval for Mean Hourly Wage of Hourly Workers:
(32.52345834488425, 33.05365708767623)

In [28]:
police_salary_data = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary'].dropna()
mean_police_salary = police_salary_data.mean()
standard_error_police_salary = police_salary_data.sem()

confidence_interval_police_salary = t.interval(confidence_level, len(police_salary_data) - 1, mean_police_salary, standard_error_police_salary)
print("\n95% Confidence Interval for Mean Salary of Police Department Employees:")
print(confidence_interval_police_salary)

95% Confidence Interval for Mean Salary of Police Department Employees:
(86177.05631531784, 86795.77269094894)

In [29]:
from statsmodels.stats.proportion import proportions_ztest

hourly_workers_count = salaries[salaries['Salary or Hourly'] == 'Hourly'].shape[0]
total_employees = salaries.shape[0]
expected_proportion = 0.25

z_stat, p_value_proportion = proportions_ztest(hourly_workers_count, total_employees, expected_proportion)
print("\nHypothesis Test of Proportions for Hourly Workers:")
print(f"z-statistic: {z_stat}, p-value: {p_value_proportion}")

Hypothesis Test of Proportions for Hourly Workers:
z-statistic: -3.5099964213703005, p-value: 0.0004481127249057967